#bg{
    width:100vw;
    height: 100vh;
    margin:0;
    padding:0;
    background: url(../images/space1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

body{
    margin:0;
    padding:0;
}

#astronaut{
    background: url(../images/ast.png);
    background-size: cover;
    width: 201px;
    height: 247px;
    position: absolute;     /* to create animation,  the element should be abasolute and parent should be relative */
}

